/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* nav section start */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
}
.item-container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-right: 80px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.common-btn{
    background-color: #103be7;
    padding: 10px 17px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.common-btn:hover {
    background: rgb(139, 165, 243);
    cursor: pointer;
}
/* start hero section */
.hero {
    height: 100vh;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
}
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    /* margin-bottom: 200px; */
}
.hero-heading{
    font-weight: bold;
    font-size: 4rem;
    /* margin-top: 1px; */
}
.hero-button{
    margin-top: 100px;
}

 .speaker-container {
    width: 85%;
    margin: 80px auto;
}

.speaker-heading {
    text-align: center;
    margin-bottom: 40px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.box {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}

.small-box {
    padding: 20px;
}

.small-box h2 {
    margin: 10px 0;
}

.small-box p:first-child {
    color: blue;
    font-weight: bold;
    font-size: 14px;
}
/* pricing section */

.pricing{
    width: 75%;
    margin: 80px auto;
}
.pricing-head{
    text-align: center;
    margin-bottom: 40px;
}
.price-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 15px;
    height: 350px;
    max-width: 300px;
}
.pro{
    background-color: rgb(4, 4, 41);
    color: white;
}
.card ul{
    padding-left: 15px;
}
.card li{
    margin-bottom: 12px;
    line-height: 1.2;
}

.card li::marker{
    color: #2563eb;
}
.card p{
    margin: 0;
}

.card h1{
    margin: 2px 0;
}
.card-header{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.out-btn{
    display: block;
    width: 180px;
    margin: 25px auto 0;
    padding: 10px;
    border: 1px solid #2563eb;
    border-radius: 8px;
    background: #fff;
    color: #2563eb;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.in-btn{
    display: block;
    width: 180px;
    margin: 25px auto 0;
    padding: 10px;
    border: 1px solid #c9d7f4;
    border-radius: 8px;
    background: #0715d5;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.in-btn:hover{
    background-color: rgb(137, 153, 245);
}
.out-btn:hover{
    background-color: rgb(242, 243, 247);
}
/* venue section */
.venue{
    width: 100%;
    height: 500px;

    background-image: url("./assets/vanue.webp");
    background-size: cover;
    background-position: center;

    border-radius: 20px;
    overflow: hidden;

    position: relative;
}
.magic{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px;
}
.magic h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.magic h3{
    font-size: 28px;
}
